# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

####################
# Code Team
####################

*           @borecjudo2 @KrlSed
/.github/   @borecjudo2 @KrlSed
/scripts/   @borecjudo2 @KrlSed
